{% extends "base.html" %}

{% block title %} | 選課清單{% endblock title %}

{% block style %}
<style>
    .card:hover {
        box-shadow: 0px 5px 10px #00000028;
    }
</style>
{% endblock style %}

{% block content %}
<h1 class="text-main-color fw-bold">課程清單</h1>

<form action="" method="GET">
    <div class="row mx-1 my-3">
        <div class="col-12 col-md-2 mb-2 mb-md-0">
            <select class="form-control form-select" name="t">
                <option value="id" {% if request.GET.t == "id" %}selected{% endif %}>課程代碼</option>
                <option value="name" {% if request.GET.t == "name" %}selected{% endif %}>課程名稱</option>
                <option value="professor" {% if request.GET.t == "professor" %}selected{% endif %}>老師名字</option>
                <option value="dept" {% if request.GET.t == "dept" %}selected{% endif %}>開課系所</option>
            </select>
        </div>
        <div class="col-12 col-md-10">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="請輸入關鍵字..." name="q"
                    value="{{ request.GET.q|default:'' }}">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search me-1"></i>查詢</button>
            </div>
        </div>
    </div>
</form>

{% if classes %}
<div class="row">
    {% for class in class_list %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-2">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text text-danger fw-bold mb-0">{{ class.class.id }}</p>
                    <div>
                        {% comment %} <form action="{% url 'follow' class.class.id %}" method="POST">
                            {% csrf_token %}

                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class="text-warning"
                                style="background: none; border: none; padding: 0;">
                                {% if class.followed %}
                                <i class="bi bi-star-fill"></i>
                                {% else %}
                                <i class="bi bi-star"></i>
                                {% endif %}
                            </button>
                        </form> {% endcomment %}
                        <span id="#n{{ class.class.id }}" class="text-warning me-1 small">{{ class.class.cFollow }}</span>
                        <button id="#b{{ class.class.id }}" class="btn-follow text-warning"
                            onclick="follow('{{ class.class.id }}');">
                            {% if class.followed %}
                            <i class="bi bi-star-fill"></i>
                            {% else %}
                            <i class="bi bi-star"></i>
                            {% endif %}
                        </button>
                    </div>
                </div>
                <a class="text-decoration-none" href="{% url 'class_detail' class.class.id %}"><span
                        class="card-title text-dark fw-bold fs-3">{{ class.class.cName }}</span></a>
                <br>
                <span class="card-text text-secondary">{{ class.class.cType }} | {{ class.class.cDept }}</span>
                <br>
                <span class="card-text text-secondary">{{ class.class.cProfessor }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    查無此資料，請換個關鍵字重新查詢一次
</div>
{% endif %}

{% if classes.paginator.num_pages > 1 %}
<div class="d-flex mt-3 justify-content-center flex-wrap">
    <nav>
        <ul class="pagination">
            {% if classes.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ classes.previous_page_number }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% if classes.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ classes.previous_page_number }}">
                    {{classes.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ classes.number }}</a></li>
            {% if classes.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ classes.next_page_number }}">
                    {{ classes.next_page_number }}
                </a>
            </li>
            {% endif %}
            {% if classes.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ classes.next_page_number }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="ms-3">
        <form action="" method="GET">
            <input type="hidden" name="t" value="{{ request.GET.t }}">
            <input type="hidden" name="q" value="{{ request.GET.q }}">
            Page <input type="number" name="page" style="width: 60px;" min="1" max="{{ classes.paginator.num_pages }}"
                value="{{ classes.number }}"> of {{ classes.paginator.num_pages }}
            <input class="btn btn-outline-primary btn-sm" type="submit" value="GO">
        </form>
    </div>
</div>
{% endif %}

<script>
    function follow(class_id) {
        // alert(class_id);
        $.ajax({
            url: "/web/follow/",
            method: "POST",
            dataType: "json",
            data: {
                class_id: class_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (res) {   // POST success
                // alert("ajax success");
                // console.log(res);
                let button_id = "#b" + class_id;
                let number_id = "#n" + class_id;
                if (res["status"]) { // follow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star-fill"></i>';
                }
                else {  // unfollow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star"></i>';
                }
                document.getElementById(number_id).innerHTML = res["number"]
            },
            error: function (err) {     // POST error
                alert("[AJAX] Follow error!");
            },
        });
    }
</script>
{% endblock content %}