{% extends "base.html" %}

{% block title %} | 課程: {{ class.cName }}{% endblock title %}

{% block style %}
<style>
    .card:hover {
        box-shadow: 0px 5px 10px #00000028;
    }
</style>
{% endblock style %}

{% block content %}
<div class="d-flex justify-content-between mb-2">
    <span class="text-danger fw-bold fs-3">{{ class.id }}</span>
    <div class="d-flex align-items-center">
        <span id="#n{{ class.id }}" class="text-warning me-2">{{ class.cFollow }}</span>
        <button id="#b{{ class.id }}" class="btn-follow text-warning fs-3"
            onclick="follow('{{ class.id }}');">
            {% if followed %}
            <i class="bi bi-star-fill"></i>
            {% else %}
            <i class="bi bi-star"></i>
            {% endif %}
        </button>
    </div>
</div>
<h1 class="fw-bold">{{ class.cName }}</h1>
<h2>{{ class.cEn_name }}</h2>
<p class="h3 mt-3">{{ class.cProfessor }}</p>
<p class="h4">{{ class.cType }} | {{ class.cDept }} | {{ class.cCredit }}學分 | {{ class.cLang }}授課</p>

<hr class="my-4">

<div class="d-flex align-items-center">
<h2 class="fw-bold my-0 me-2">評分</h2>
<a type="button" data-bs-toggle="modal" data-bs-target="#score-intro">
  <i class="bi bi-question-circle-fill"></i>
</a>
</div>

<!-- Modal start -->
<div class="modal fade" id="score-intro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-bold">評分說明</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold">評分共有五個指標，分別是甜、涼、有趣、學習和參與，範圍從0到10，分數越高代表程度越高!</p>
        <ul>
            <li><span class="fw-bold">甜：</span>表示老師成績都給很高，通常平均總成績85以上就算是甜課了!</li>
            <li><span class="fw-bold">涼：</span>表示這堂課很輕鬆就可以通過，沒有太多作業或小考，但分數不一定高。</li>
            <li><span class="fw-bold">有趣：</span>表示老師上課很有趣、生動，不會上到想睡覺。</li>
            <li><span class="fw-bold">學習：</span>表示這堂課可以學到很多知識，收穫良多。</li>
            <li><span class="fw-bold">參與：</span>表示這堂課有很多團體活動，像是小組討論、報告等等。</li>
        </ul>
        <p>下方雷達圖顯示為該堂課各個指標在所有評論中的平均值，取到小數點底下一位。</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<div class="row">
    <div class="col-12 col-md-4">
        <canvas id="radarChart"></canvas>
    </div>
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-6">
        <div class="list-unstyled h3 fw-bold">
            <p>甜 : <span class="text-main-color">{{ class.cCool }} / 10</span></p>
            <p>涼 : <span class="text-main-color">{{ class.cSweet }} / 10</span></p>
            <p>有趣 : <span class="text-main-color">{{ class.cFun }} / 10</span></p>
            <p>學習 : <span class="text-main-color">{{ class.cLearn }} / 10</span></p>
            <p>參與 : <span class="text-main-color">{{ class.cJoin }} / 10</span></p>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex align-items-center">
        <h2 class="fw-bold my-0 me-2">評論</h2>
        <p class="badge bg-success text-wrap m-0">{{ comments|length }} 則評論</p>
    </div>
    {% if request.user.is_authenticated %}
    <div>
        <a class="btn btn-main-color" href="{% url 'comment_create' class.id %}">新增評論</a>
    </div>
    {% else %}
    <div>
        <a class="btn btn-danger" href="{% url 'login' %}?next={{ request.path }}">登入以評論</a>
    </div>
    {% endif %}
</div>

<div>
    {% if comments %}
    {% for comment in comments %}
    <div class="card my-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-title fw-bold mb-0">{{ comment.dept|default:"不公開" }}</p>
                {% if comment.detail.mUID.id == request.user.id %}
                <div>
                    <a href="{% url 'comment_edit' comment.detail.id %}?next={{ request.path }}" class="text-primary fs-4 me-1"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'comment_delete' comment.detail.id %}?next={{ request.path }}" class="text-danger fs-4"><i class="bi bi-trash-fill"></i></a>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-wrap justify-content-between fw-bold fs-4 mb-3">
                <span class="card-text me-5">涼 : <span class="text-main-color">{{ comment.detail.mCool }} / 10</span></span>
                <span class="card-text me-5">甜 : <span class="text-main-color">{{ comment.detail.mSweet }} / 10</span></span>
                <span class="card-text me-5">有趣 : <span class="text-main-color">{{ comment.detail.mFun }} / 10</span></span>
                <span class="card-text me-5">學習 : <span class="text-main-color">{{ comment.detail.mLearn }} / 10</span></span>
                <span class="card-text me-5">參與 : <span class="text-main-color">{{ comment.detail.mJoin }} / 10</span></span>
            </div>
            <p class="card-text">{{ comment.detail.mContent|linebreaksbr }}</p>
            <div class="d-flex flex-wrap justify-content-between">
                <small class="text-muted">id : {{ comment.detail.id }}</small>
                <small class="text-muted">最後修改時間 : {{ comment.detail.mLasttime }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning my-3" role="alert">
        尚未有人評論，快登入成為第一個評論的人吧!
    </div>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    const data = {
        labels: [
            '甜',
            '涼',
            '有趣',
            '學習',
            '參與',
        ],
        datasets: [{
            label: '分數',
            data: [
                {{class.cCool}}, 
                {{class.cSweet}}, 
                {{class.cFun}}, 
                {{class.cLearn}}, 
                {{class.cJoin}}
            ],
            fill: true,
            backgroundColor: '#2affd127',
            borderColor: '#16c7a1',
            pointBackgroundColor: '#11a081',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: '#11a081'
        }]
    };

    const config = {
        type: 'radar',
        data: data,
        options: {
            elements: {
                line: {
                    borderWidth: 3
                },
            },
            scales: {
                r: {
                    angleLines: {
                        display: false
                    },
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            }
        },
    };
</script>
<script>
    Chart.defaults.font.size = 15;
    const radarChart = new Chart(
        document.getElementById('radarChart'),
        config
    );
</script>
{% if user.is_authenticated %}
<script>
    // AJAX 加入/取消追蹤
    function follow(class_id) {
        // alert(class_id);
        $.ajax({
            url: "/web/follow/",
            method: "POST",
            dataType: "json",
            data: {
                class_id: class_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (res) {   // POST success
                // alert("ajax success");
                // console.log(res);
                let button_id = "#b" + class_id;
                let number_id = "#n" + class_id;
                if (res["status"]) { // follow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star-fill"></i>';
                }
                else {  // unfollow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star"></i>';
                }
                document.getElementById(number_id).innerHTML = res["number"]
            },
            error: function (err) {     // POST error
                alert("[AJAX] Follow error!");
            },
        });
    }
</script>
{% endif %}
{% endblock content %}