{% extends "base.html" %}

{% block title %} | 選課清單{% endblock title %}

{% block style %}
<style>
    .card:hover {
        box-shadow: 0px 5px 10px #00000028;
    }
</style>
{% endblock style %}

{% block content %}
<h1 class="text-main-color fw-bold">課程清單</h1>

<form action="" method="GET">
    <div class="row mx-1 my-3">
        <div class="col-12 col-md-2 mb-2 mb-md-0">
            <select class="form-control form-select" name="t">
                <option value="id" {% if request.GET.t == "id" %}selected{% endif %}>課程代碼</option>
                <option value="name" {% if request.GET.t == "name" %}selected{% endif %}>課程名稱</option>
                <option value="professor" {% if request.GET.t == "professor" %}selected{% endif %}>老師名字</option>
                <option value="dept" {% if request.GET.t == "dept" %}selected{% endif %}>開課系所</option>
            </select>
        </div>
        <div class="col-12 col-md-10">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="請輸入關鍵字..." name="q"
                    value="{{ request.GET.q|default:'' }}">
                <button type="submit" class="btn btn-primary">查詢</button>
            </div>
        </div>
    </div>
</form>

{% if class_list %}
<div class="row">
    {% for class in class_list %}
    <a href="{% url 'class_detail' class.id %}" class="col-12 col-sm-6 col-md-4 col-lg-3 text-decoration-none">
        <div class="card m-2">
            <div class="card-body">
                <span class="card-text text-danger fw-bold">{{ class.id }}</span>
                <br>
                <span class="card-title text-dark fw-bold fs-3">{{ class.cName }}</span>
                <br>
                <span class="card-text text-secondary">{{ class.cType }} | {{ class.cDept }}</span>
                <br>
                <span class="card-text text-secondary">{{ class.cProfessor }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    查無此資料，請換個關鍵字重新查詢一次
</div>
{% endif %}

{% if is_paginated %}
<div class="d-flex mt-3 justify-content-center">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">
                    {{page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ request.path }}?t={{ request.GET.t }}&q={{ request.GET.q }}&page={{ page_obj.next_page_number }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="ms-3">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
</div>
{% endif %}
{% endblock content %}