{% extends "base.html" %}

{% block title %} | 登入{% endblock title %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}
<h1 class="text-main-color fw-bold">登入</h1>

{% if error %}
<div class="alert alert-danger my-3" role="alert">
    帳號或密碼有誤! 請再重新輸入一次
</div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <br>
    <input class="btn btn-main-color mb-3" type="submit" value="登入" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>還沒有帳號嗎? <a class="link-main-color" href="{% url 'register' %}">請點擊這邊註冊</a></p>

<hr class="my-5">

<div class="row justify-content-center">
    <a class="btn btn-danger col-10 col-sm-6" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
        <i class="bi bi-google me-2"></i>使用Google帳號登入
    </a>
</div>
<p class="text-center mt-3 text-muted">
    <small>登入即表示您同意我們的<a class="link-main-color" href="{% url 'privacy' %}" target="_blank">隱私權條款</a>與<a
            class="link-main-color" href="{% url 'terms' %}" target="_blank">服務條款</a></small>
</p>
{% endblock content %}