{% extends "base.html" %}

{% block title %} | 你的追蹤清單{% endblock title %}

{% block style %}
<style>
    .card:hover {
        box-shadow: 0px 5px 10px #00000028;
    }
</style>
{% endblock style %}

{% block content %}
<h1 class="text-main-color fw-bold mb-3">你的追蹤清單</h1>

<div>
    {% if follows %}
    {% for follow in follows %}
    <div class="card my-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-title fw-bold mb-0">
                    <span class="text-danger">{{ follow.fCID.id }}</span> {{ follow.fCID.cName }}
                    <a class="link-main-color" href="{% url 'class_detail' follow.fCID.id %}">
                        <i class="bi bi-link"></i>
                    </a>
                </p>
                <div>
                    <span id="#n{{ follow.fCID.id }}" class="text-warning me-1 small">{{ follow.fCID.cFollow }}</span>
                    <button id="#b{{ follow.fCID.id }}" class="btn-follow text-warning"
                        onclick="follow('{{ follow.fCID.id }}');">
                        <i class="bi bi-star-fill"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <small class="text-muted">id : {{ follow.id }}</small>
                <small class="text-muted">追蹤時間 : {{ follow.fLasttime }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning my-3 d-flex flex-wrap justify-content-between align-items-center" role="alert">
        <span>你還沒追蹤任何課程，快去追蹤一個吧!</span>
        <a class="btn btn-warning" href="{% url 'class_list' %}">前往課程清單</a>
    </div>
    {% endif %}
</div>

<script>
    // AJAX 加入/取消追蹤
    function follow(class_id) {
        // alert(class_id);
        $.ajax({
            url: "/web/follow/",
            method: "POST",
            dataType: "json",
            data: {
                class_id: class_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (res) {   // POST success
                // alert("ajax success");
                // console.log(res);
                let button_id = "#b" + class_id;
                let number_id = "#n" + class_id;
                if (res["status"]) { // follow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star-fill"></i>';
                }
                else {  // unfollow
                    document.getElementById(button_id).innerHTML = '<i class="bi bi-star"></i>';
                }
                document.getElementById(number_id).innerHTML = res["number"]
            },
            error: function (err) {     // POST error
                alert("[AJAX] Follow error!");
            },
        });
    }
</script>
{% endblock content %}