{% extends 'base.html' %}

{% block title %} | 服務條款{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
<h1 class="text-main-color fw-bold mb-3">服務條款</h1>

<h3>一、會員服務條款</h3>
<ol>
    <li>本會員服務條款所稱之「會員」，為依照本站所定之加入會員程序加入完成並通過認證者。</li>
    <li>當您使用本站服務時，即表示您同意及遵守本服務條款的規定事項及相關法律之規定。</li>
    <li>本站保留有審核加入會員資格之權利，另外已加入會員者，本站亦保留有解除其會員資格之權利。</li>
    <li>本會員服務條款之修訂，適用於所有會員，當本站修訂本服務條款時，將於本站上公告。</li>
</ol>

<h3>二、隱私權政策</h3>
<p>尊重並依據本網站「<a class="link-main-color" href="{% url 'privacy' %}">隱私權政策</a>」保護您的隱私。</p>

<h3>三、帳號、密碼與安全性</h3>
<ol>
    <li>您必須保證在加入成為會員時所留存的所有資料均為完整、正確、與當時情況相符的資料，如果事後有變更，為了確保您的權利，您應即時修改本網站留存之會員資料。若您提供任何錯誤或不實的資料，除您必須自行負擔因此造成的損失外，本網站並有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。
    </li>
    <li>您所填寫個人資料如有重複、冒用他人名義、違反公序良俗、或有侵害他人姓名權、公司名稱、商標或其他智慧財產權之虞、或有造成他人誤解之虞、或涉有其他違反法令之嫌、或破壞本網站服務宗旨者，本網站得拒絕您的註冊、或要求您更正為正確、合法、妥適之資料，或取消您的使用資格之權利，您並應自負一切民事與刑事上之責任。
    </li>
    <li>您若發現或懷疑其使用者名稱和密碼被第三人冒用或不當使用，應立即通知本網站，以利本網站及時採取適當的因應措施；但上述因應措施不得解釋為本網站因此而明示或默示對您負有任何形式之賠償或補償義務。</li>
    <li>請您每次連線完畢後均執行登出以結束您的帳號使用。</li>
    <li>您的帳號、密碼及會員權益均僅供您個人使用及享有，請勿轉借、轉讓他人或與他人共用。</li>
    <li>如您的帳號及密碼遭盜用、不當使用或其他致使本網站無法辯識是否為本人親自使用之情況時，本網站對此所致之損害，概不負責。</li>
</ol>

<h3>四、使用行為</h3>
<ol>
    <li>您使用本服務之一切行為必須符合當地或國際相關法令規範；對於使用者的一切行為，您須自行負擔全部責任。</li>
    <li>您同意絕不為非法之目的或以非法方式使用本服務，與確實遵守中華民國相關法規及網際網路之國際慣例，並保證不得利用本服務從事侵害他人權益或違法之行為。</li>
    <li>
        您於使用本站會員服務時應遵守以下限制：
        <ul>
            <li>有損他人人格或商標權、著作權等智慧財產權或其他權利內容。</li>
            <li>使用違反公共秩序或善良風俗或其他不法之文字。</li>
            <li>強烈政治、宗教色彩的偏激言論。</li>
            <li>未經本公司許可，不得利用本服務或本網站所提供其他資源，從事任何商業交易行為，或招攬廣告商或贊助人。</li>
            <li>其他違反本站「會員服務條款」的內容。</li>
        </ul>
    </li>
</ol>

<h3>五、終止授權</h3>
<p>您使用本服務之行為若有任何違反法令或本使用條款或危害本網站或第三者權益之虞時，本公司有權不經告知您，立即暫時或永久終止您使用本服務之授權。</p>

<h3>六、免責事項</h3>
<ol>
    <li>
        下列情形發生時，本網站有權可以停止、中斷提供本服務：
        <ul>
            <li>對本服務相關軟硬體設備進行更換、升級、保養或施工時。</li>
            <li>發生突發性之電子通信設備故障時。</li>
            <li>天災或其他不可抗力之因素致使本網站無法提供服務時。</li>
        </ul>
    </li>
    <li>本公司對於使用者在使用本服務或使用本服務所致生之任何直接、間接、衍生之財產或非財產之損害，不負賠償責任。</li>
    <li>使用者對於上傳留言之文字、圖片及其它資料，應自行備份；本公司對於任何原因導致其內容全部或一部之滅失、毀損，不負任何責任。</li>
    <li>本公司對使用本服務之用途或所產生的結果，不負任何保證責任，亦不保證與本服務相關之軟體無缺失或會予以修正。</li>
    <li>對於您在本站中的所有言論、意見或行為僅代表您個人；不代表本公司的立場，本公司不負任何責任。本公司對於使用者所自稱之身分，不擔保其正確性。</li>
</ol>

<h3>七、智慧財產權的保護</h3>
<ol>
    <li>本網站所使用之軟體、程式及網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網頁設計，均由本網站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。</li>
    <li>任何人不得逕行使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。如欲引用或轉載前述之軟體、程式或網站內容，必須依法取得本網站或其他權利人的事前書面同意。如有違反之情事，您應對本網站或其他權利人負損害賠償責任（包括但不限於訴訟費用及律師費用等）。
    </li>
</ol>

<p class="text-muted">修改日期：2022/01/28</p>

{% endblock content %}